<md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="home" name="home" ui-sref-active="active">Home</md-nav-item>
    <md-nav-item md-nav-sref="lists" name="lists" ui-sref-active="active" 
        ng-show="vm.user">Lists</md-nav-item>
    <md-nav-item md-nav-sref="list-form" name="list-form" ui-sref-active="active" 
        ng-show="vm.user">New List</md-nav-item>
    <md-nav-item md-nav-href="{{vm.user?'/logout':'/login'}}" name="{{vm.user?'logout':'login'}}" 
        ui-sref-active="active">{{vm.user?'logout':'login'}}</md-nav-item>
</md-nav-bar>

    