<html lang="pt">

<head>
  <title>Todo List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <!--Angular Material style sheet-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/app.css">
</head>

<body ng-app="tarefasApp" ng-cloak ng-controller="appCtrl as app" layout="column" layout-fill>

  <div ui-view="header"></div>

  <md-content ng-if="app.user" flex>
    <div ui-view="contents"></div>
    <div ng-if="app.enableProgress" layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 20%">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-content>

  <div ng-if="!app.user">
    <md-card flex md-whiteframe="2" layout-margin style="padding: 8px;">
      <p>Para prosseguir, você precisa fazer <a href="/login">login</a>.</p>
      <md-divider></md-divider>
      <p class="md-caption">
        Para usar o sistema e registrar suas tarefas, é preciso estár logado.
      </p>
    </md-card>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0/angular-ui-router.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/service/taskService.js"></script>
  <script src="/js/controllers/tarefasController.js"></script>
  <script src="/js/controllers/sideNavCtrl.js"></script>
  <script src="/js/controllers/appCtrl.js"></script>
  <script src="/js/diretivas/task-directive.js"></script>

</body>

</html>