<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css" -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
  <title>Exemplo incluindo Material Angular no App Engine</title>
</head>

<body ng-app="BlankApp" ng-cloak ng-controller="ExampleController as ec" layout="column" layout-fill>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>Toolbar with Disabled/Enabled Icon Buttons</h2>
    </div>
  </md-toolbar>

    <!-- md-content flex md-whiteframe="6" style="margin: 8px; padding: 8px;" -->
    <md-content flex md-whiteframe="6" layout-margin style="padding: 8px;">
      <h1>Múltiplos</h1>
      
      <p>Dolor velit necessitatibus a culpa ex autem exercitationem dolorum
      explicabo. Id culpa placeat quidem fuga accusantium pariatur. Hic
      similique assumenda doloribus dolorum doloremque ex! Earum cum ad aperiam
      dolorem minus! Sit commodi ea sit nam inventore, quidem autem
      consequuntur in veritatis libero a. Dignissimos amet quas cupiditate
      totam soluta. Dignissimos vel cumque error suscipit cupiditate
      repellendus optio tempore et est.</p>
      
      <p>Dolor velit necessitatibus a culpa ex autem exercitationem dolorum
      explicabo. Id culpa placeat quidem fuga accusantium pariatur. Hic
      similique assumenda doloribus dolorum doloremque ex! Earum cum ad aperiam
      dolorem minus! Sit commodi ea sit nam inventore, quidem autem
      consequuntur in veritatis libero a. Dignissimos amet quas cupiditate
      totam soluta. Dignissimos vel cumque error suscipit cupiditate
      repellendus optio tempore et est.</p>

      {{ec.eu}}

      <md-list>
        <md-list-item class="md-2-line secondary-button-padding" ng-repeat="participante in ec.participantes" ng-click="ec.set_something()">
          <div class="md-list-item-text" layout="column">
            <h3>{{participante}}</h3>
            <h4>Aqui iria um subtitulo</h4>
          </div>
          <md-button class="md-secondary" ng-click="ec.del_participante($index)">
            <md-icon md-font-icon="md">delete</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>

    <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <!-- script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script src="exemplo.js"></script>

</body>
</html>
