<md-content layout="row" layout-wrap, layout-align="center">
        
    <div flex="85">
        <md-card md-theme-watch style="padding: 10px">        
            <md-input-container>
                <label>Nome da Tarefa</label>
                <input ng-model="vm.tarefa.name_task">
            </md-input-container>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="vm.salvar(vm.tarefa)">Adicionar</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

<ui-tasks-view ctrl="vm" tasks="vm.createdTasks"></ui-tasks-view>