
<div flex-xs layout="column">
    <md-card ng-repeat="task in vm.tasks" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ task.title }}</span>
                <span class="md-subhead">{{ task.description }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="end">
            <md-button>Edit</md-button>
            <md-button>Delete</md-button>
        </md-card-actions>
    </md-card>
</div>