<!DOCTYPE html>
<html lang="en" ng-app="todoList" ng-cloak>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Todo List</title>
</head>
<body ng-controller="designCtrl as design">
<md-toolbar md-colors="{background: 'blue-800'}" layout-wrap layout-align="center" layout="row">
    <div class="md-toolbar-tools" flex="100" flex-lg=80 flex-xl="80">
        <md-button class="md-icon-button" aria-label="Settings" >
            <md-icon>menu</md-icon>
            <!-- SIDENAV -->
            <md-sidenav class="md-sidenav-left" md-component-id="leftNav" md-whiteframe="4">
                <md-toolbar md-colors="{background: 'blue-900'}" layout="row">
                    <h1 class="md-toolbar-tools">Menu</h1>
                </md-toolbar>
                <md-content>
                    <md-list-item ng-click="design.goTo(setting.stateTo)" ng-repeat="setting in design.settings">
                        <md-icon>{{setting.icon}}</md-icon>
                        <p> {{ setting.name }} </p>
                    </md-list-item>
                </md-content>
            </md-sidenav>
        </md-button>
        <h2 flex md-truncate>Todo List</h2>

        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon style="color: white;">account_circle</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon style="color: white;">build</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="More">
            <md-icon>more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>












<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>

<!---->
<script src="app.js"></script>
<script src="js/controllers/taskController.js"></script>
<script src="js/services/requestsService.js"></script>
<script src="js/controllers/designController.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>


</body>
</html>