<div ng-controller="HomeController as vm">
    <md-content>
        <div flex-xs layout="column">
            <md-card md-theme-watch>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="list in vm.lists" ng-click="vm.goTasks(list.name)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ list.name }}</h3>
                    </div>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
    </md-content>

</div>