<div>
    <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" align="middle"> Bem Vindo! </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p align="middle">
            Para navegar no site precisa está logado.
          </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="center center">
          <a href="/login">
            <md-button>LOGIN</md-button>
          </a>
        </md-card-actions>
      </md-card>
</div>