<div ng-controller="RgListController as vm" layout="column">
    <form name="ActivityForm">
        <div layout="column">
          <md-input-container class="md-block">
            <label>Nome</label>
            <input required name="name" ng-model="vm.activity.name">
            <div ng-messages="ActivityForm.name.$error">
            <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          
        </div>
        <md-button class="md-accent" ng-click="vm.register()">Register</md-button>
    </form>

</div>
