<div layout="column">
    <form name="ActivityForm">
        <div layout="column">
          <md-input-container class="md-block">
            <label>Nome</label>
            <input required name="name" ng-model="vm.list.name">
            <div ng-messages="ActivityForm.name.$error">
                <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>

          <md-button class="md-accent" ng-click="vm.register()">Register</md-button>
        </div>        
    </form>

</div>
