<div ng-controller="TaskController as vm">
    <md-content>
        <div flex-xs layout="column">
            <md-card md-theme-watch>
                <md-list flex>
                    <md-list-item class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <h3 align="center">{{ vm.list }}</h3>
                    </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-repeat="task in vm.tasks" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ task.name }}</h3>
                        <p ng-if="task.comment">{{ task.comment }}</p>
                    </div>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
    </md-content>

</div>